![imagen](./img/ejercicios.png)

## Ejercicio 1
Dada la siguiente lista:
> ```ejer_1 = [1,2,3,4,5]```

Inviértela para que quede de la siguiente manera
> ```ejer_1 = [5,4,3,2,1]```

In [22]:
ejer_1 = [1,2,3,4,5]
ejer_1.reverse()
print(ejer_1)

ejer_reves = ejer_1[::-1]
print(ejer_reves)

for i in reversed(ejer_reves):
    print(i)

[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]
5
4
3
2
1

## Ejercicio 2
Eleva todos los elementos de la lista al cuadrado
> ```ejer_2 = [1,2,3,4,5]```

In [126]:
ejer_2 = [1,2,3,4,5]
ejer_x = []

for i in ejer_2:
    ejer_x.append(i**2)

print(ejer_x)

[1, 4, 9, 16, 25]

## Ejercicio 3
Crea una lista nueva con todas las combinaciones de las siguientes dos listas:
> ```ejer_3_1 = ["Hola", "amigo"]```
>
> ```ejer_3_2 = ["Que", "tal"]```

Obten el siguiente output:

['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']

In [49]:
ejer_3_1 = ["Hola", "amigo"]
ejer_3_2 = ["Que", "tal"]

list_3 = [a + ' ' + b for a in ejer_3_1 for b in ejer_3_2]

print(list_3)

['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']

In [50]:
list_4 = [f"{x} {y}" for x in ejer_3_1 for y in ejer_3_2]

print(list_4)

['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']

## Ejercicio 4
Dada la siguiente lista, encuentra el índice del valor 45 y sustitúyelo por el 0
> ```ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]```

In [129]:
ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]
ejer_4[ejer_4.index(45)] = 0
print(ejer_4)

[20, 47, 19, 29, 0, 67, 78, 90]

## Ejercicio 5
Dada la siguiente lista, elimina todos los valores iguales a 3
> ```ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]```

TIP: No intentes eliminar elementos sobre la lista que estás iterando. Haz una copia con `ejer_5.copy()`.

In [131]:
ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]

mi_lista = [i for i in ejer_5 if i != 3]
print(mi_lista)

my_list = ejer_5.copy()

for i in ejer_5:

SyntaxError: expected 'else' after 'if' expression (3995507585.py, line 8)

In [132]:
ejer_5_copia = ejer_5.copy()

for i in ejer_5:
    if i == 3:
        ejer_5_copia.remove(i)

print(ejer_5_copia)

[20, 47, 19, 29, 45, 67, 78, 90]

## Ejercicio 6
1. Crea una tupla con 3 elementos
2. Crea otra tupla con un elemento y comprueba su tipo
3. Crea una tupla con elementos de diferentes tipos
4. Imprime por pantalla el primer y ultimo elemento de la tupla del apartado 3. Usa `len` para el ultimo
5. Añade un elemento a la tupla del apartado 3.
6. Eliminar un elemento de la tupla del apartado 5, que se encuentre más o menos en la mitad.
7. Convierte la tupla del apartado 5 en una lista

In [101]:
mi_tup = (1, 2, 4, 6, 8, 2, 3, 344)
tup_2 = ("Heya",)
print(type(tup_2))
tup_3 = ("Hello", 1, 32, "Bob", 3, 56, "Sam", "Sally")
print((tup_3[0]) + " " + (tup_3[len(tup_3)-1]))

tup_3 = (*tup_3, "EYOOOO")
print(tup_3)

list_1 = list(tup_3)
list_1.append("heck yeah")
tup_4 = tuple(list_1)
print(tup_4)

tup_4 += ("Works too",)
print(tup_4)

list_2 = list(tup_4)
del list_2[int(len(list_2)/2)]
tup_5 = tuple(list_2)
print(tup_5)

list_3 = list(tup_5)
print(*list_3)

<class 'tuple'>
Hello Sally
('Hello', 1, 32, 'Bob', 3, 56, 'Sam', 'Sally', 'EYOOOO')
('Hello', 1, 32, 'Bob', 3, 56, 'Sam', 'Sally', 'EYOOOO', 'heck yeah')
('Hello', 1, 32, 'Bob', 3, 56, 'Sam', 'Sally', 'EYOOOO', 'heck yeah', 'Works too')
('Hello', 1, 32, 'Bob', 3, 'Sam', 'Sally', 'EYOOOO', 'heck yeah', 'Works too')
Hello 1 32 Bob 3 Sam Sally EYOOOO heck yeah Works too

## Ejercicio 7
Concatena todos los elementos de la tupla en un unico string. Para ello utiliza el metodo `.join()` de los Strings
> ```ejer_7 = ("cien", "cañones", "por", "banda")```

Resultado: `cien cañones por banda`

In [134]:
ejer_7 = ("cien", "cañones", "por", "banda")

separator = "-"
result = separator.join(ejer_7)
print(result)
print(type(result))

sam = (ejer_7)
print(*sam)
print(type(sam))

cien-cañones-por-banda
<class 'str'>
cien cañones por banda
<class 'tuple'>

## Ejercicio 8
Obten el tercer elemento de la siguiente tupla, y el tercero empezando por la cola
> ```ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)```

In [110]:
ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)
print(ejer_8[2])
print(ejer_8[-3])

3
90

## Ejercicio 9
1. ¿Cuántas veces se repite el 3 en la siguiente tupla?
2. Crea una tupla nueva con los elementos desde la posicion 5 a la 10.
3. ¿Cuántos elementos tiene la tupla `ejer_9`?
> ```ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)```

In [114]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)

x = 0

for i in ejer_9:
    if i == 3:
        x = x + 1

print(x)

print(ejer_9.count(3))
jjhbjhb

7
7

## Ejercicio 10
Comprueba si el numero 60 esta en la tupla del ejercicio 9

In [135]:
x = 3
check = x in ejer_9
print(check)

60 in ejer_9

True

False

## Ejercicio 11
1. Convierte la tupla del apartado 10 en una lista
2. Convierte la tupla del apartado 10 en un set
3. Convierte la tupla del apartado 10 en un diccionario. Usa también los indices

## Ejercicio 12
Convierte la siguiente lista en un diccionario
> ```ejer_12 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]```

TIP: Puedes usar dos variables de control en un bucle `for`. Una por cada valor de las tuplas.

## Ejercicio 13
1. Crea una lista ordenada ascendente con las claves del diccionario
2. Crea otra lista ordenada descendente con los valores
3. Añade una nueva clave/valor
4. Busca la clave con el valor de 2 dentro del diccionario
5. Itera la clave y el valor del diccionario con un unico for
> ```ejer_13 = {4:78, 2:98, 8:234, 5:29}```

## Ejercicio 14
Junta ambos diccionarios. Para ello, utiliza `update`
> ```ejer_14_1 = {1: 11, 2: 22}```
>
> ```ejer_14_2 = {3: 33, 4: 44}```

## Ejercicio 15
Suma todos los valores del dicionario
> ```ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

## Ejercicio 16
Multiplica todos los valores del diccionario
> ```ejer_16 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

## Ejercicio 17
1. Crea un set de tres elementos
2. Añade un cuarto
3. Elimina el utlimo elemento añadido
4. Elimina el elemento 10, si está presente. Usa `discard()`